html {
    /* background-color: orangered; */
    /* background-color: black; */
}

.paragraf {
    background-color: orangered;
    color: #ffffff;
    text-align: center;
    font-size: xx-large;

}